{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Welcome to Keros Kizzeria</h1>
    <img src="/img/entrance.jpg" alt="Keros Kizzeria Entrance">
  </hero>
  <p>This webpage will take you on a delectable culinary adventure!</p>
  <p>As you push open the rustic door, the enticing aroma of freshly baked pizzas wafts through the air. You find yourself standing in the vibrant and lively atmosphere of Keros Kizzeria. The walls are adorned with colorful pizza-themed art, and the sound of cheerful chatter fills the room. Before you, a friendly waiter approaches. 'Greetings, food adventurer! In Keros Kizzeria, you'll embark on a culinary journey like no other. But worry not, for you get to choose a specialty pizza to kick off your experience.'</p>
  <p>Embark on this delicious quest, make choices that will tantalize your taste buds, and savor the flavors of Keros Kizzeria!</p>
  <p><a href="/story/0">Begin your culinary adventure now!</a></p>
</main>
{% endblock %}
